@import url('https://fonts.googleapis.com/css?family=Heebo:300&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --primary-color: #000;
    --secondary-color: #fff; 
}

html {
    transition: all 0.5s ease-in;
}

html.dark {
    --primary-color: #fff;
    --secondary-color: #333;
}

html.dark {
    background-color: #111;
    color: var(--primary-color);
}

body {
    font-family: 'Heebo', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    margin: 0;
    overflow: hidden;
}

.toggle {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: 0;
    border-radius: 4px;
    padding: 8px 12px;
    position: absolute;
    top: 100px;
    cursor: pointer;
}

.toggle:focus {
    outline: none;
}

.menu {
    margin: 0;
    position: absolute;
    top: 150px;
}

.btn {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: 0;
    padding: 8px 12px;
    border-radius: 4px;
    display: inline-grid;
    width: 120px;
    font-size: 14px;
    cursor: pointer;
}

.clock-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: all 0.45s ease;
    position: absolute;

}


.clock {
    position: relative;
    width: 200px;
    height: 200px;
    margin-left: 10px;
    
}

.needle {
    background-color: var(--primary-color);
    position: absolute;
    top: 50%;
    left: 50%;
    height: 65px;
    width: 3px;
    transform-origin: bottom center;
    
}

.needle.hour {
    transform: translate(-50%, -100%) rotate(0deg);
}

.needle.minute {
    transform: translate(-50%, -100%) rotate(0deg);
    height: 100px;
}

.needle.second {
    transform: translate(-50%, -100%) rotate(0deg);
    height: 100px;
    background-color: #e74c3c;
}

.center-point {
    background-color: #e74c3c;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.center-point::after {
    content: '';
    background-color: var(--primary-color);
    width: 5px;
    height: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.time {
    font-size: 60px;
}

.date {
    color: #aaa;
    font-size: 14px;
    letter-spacing: 0.3px;
    text-transform: uppercase;
}

.date .circle {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 50%;
    height: 18px;
    width: 18px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 18px;
    transition: all 0.5s ease-in;
    font-size: 12px;
}

.stop-watch {
    display: inline;
    position: absolute;
    
    transform: translateX(500%);
    transition: all 0.45s ease;

}


.controls {
    display: inline;
    align-items: center;
}
  
.controls button {
    cursor: pointer;
    background: transparent;
    padding: 0;
    border: none;
    outline: none;
    height: 64px;
    width: auto;
    background-color: #000;
    overflow: hidden;
    border-radius: 50%;

}

.timer {
    display: inline;
    transform: translateX(1000%);
    transition: all 0.45s ease;
    position: absolute;
}


.buttonReset {
    margin-left: 95px;
}
  
#playButton {
    display: block;
}

#pauseButton {
    display: none;
    
}





