@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');

* {
    margin: 0;
    font-family: 'Merriweather';
    padding: 0;
}

body {
    background-image: url("sunset.jpg");
    background-repeat:  no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    text-align: center;
    color: #fff;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: wheat;
    width: 50vw;
    height: 800px;
    margin: 30px;
    padding: 10px;

    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.8);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);

    border-top: 2px solid rgba(255, 255, 255, 0.5);

    backdrop-filter:  blur(8px);
    overflow: hidden; /*Prevent overflow*/

}

.container h1 {
    color: #fff;
    text-shadow: 2px 2px 2px #030303;
    font-style: italic;
    font-size: 2rem;
}

.container p {
    font-style: italic;
    text-shadow: 2px 2px 2px #030303;
    font-size: 1rem;
}

#displayResult {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(29, 29, 29);
    height: 160px;
    width: 280px;
    padding: 10px;
    margin: 10px;

}

#result {
    font-size: 2rem;
}

#ageInput {
    width: 100%;
    border: none;
    background-color: rgba(248, 248, 248, 0.4);
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
    color: black;
    font-size: 1.4rem;
    font-weight: bold;
    text-shadow: 2px 2px 2px rgba(26, 25, 25, 0.4);

}

#ageInput::placeholder {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
}

#ageInput:focus {
    outline: none;
    background-color: #fff;
}

.buttons {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.buttons .refresh {
    display: none; /*hidden the display*/
}

.buttons .btn {
    padding: 10px;
    width: 100%;
    border: none;
    background-color: #fd8c00;
    margin: 10px;
    color: rgb(19, 18, 18);
    cursor: pointer;
    transition: background-color 1s;
}

.btn:hover {
    background-color: black;
    color: #fff;
}

#resetBtn {
    color: #fff;
    background-color: rgb(58, 57, 57);
}

#resetBtn:hover {
    background-color: #030303;
}

.btn:focus {
    outline: none;
}

.btn:active {
    transform: scale(0.98);
}

.alert { 
    display: none;
}

/* if .active is present in class  */
.alert.active {
    display: block;
}

.alert2 {
    display: none;
}

/* if .active is present in class  */
.alert2.active {
    display: block;
}

.answer {
    display: none;
}

/* if .active is present in class  */
.answer.active {
    display: block;
}

/*Responsive*/
@media(max-width: 2500px) {
    .container{
        width: 30vw;
    }
}

@media(max-width: 1723px) {
    .container{
        width: 40vw;
    }
}


@media(max-width: 1000px) {
    .container{
        width: 60vw;
    }
}

@media(max-width: 600px) {
    .container{
        width: 80vw;
    }

    .container h1 {
        font-size: 1.1rem;
    }

    .container p {
        font-size: 0.8rem;
    }
}

@media(max-width: 300px) {
    .container{
        width: 90vw;
    }

    .container h1 {
        font-size: 0.8rem;
    }
}