@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;

    /* Actual width and length without calculate border and padding */
    box-sizing: border-box;  
}

body {
    font-family: 'Roboto', 'Arial';
    background-color: steelblue;
    position: relative;

}


.main-nav {
    /* margin-left: 60px; */
    position: fixed;
    top: 5px;
    right: 0px;
    padding: 14px 16px;
    background-color: transparent;
    backdrop-filter: blur(8px);
    border-radius: 5px;
    
}

.main-nav-list li{
    display: inline;
    text-transform: uppercase;
    padding: 10px;
       
}

.main-nav-list li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.main-nav-list li a:focus {
    color: rgb(10, 253, 6);
}

.side-nav li a {
    text-decoration: none;
    color: rgb(34, 31, 31);
    font-weight: bold;
}

.side-nav li a:focus {
    color: rgb(15, 11, 102);
}


.wrap-btn {
    background-color: transparent;
    cursor: pointer;
    border: none;
    font-size: 25px;
    width: 0%;
}

.open-btn {
    position: fixed;
    top: 10px;
    left: 10px;
    color: #fff;
}

.close-btn {
    position: absolute;
    top: 0px;
    right: 27.5px;
    color: #fff;
}

.wrap {
    position: fixed;
    background-color: transparent;
    top: 0;
    left: 0;
    height: 100%;
    transform: translateX(-100%);
    transition: transform 0.5s ease-in-out;
}

.wrap.visible {
    transform: translateX(0);
}

.wrap-black {
    background-color: rgb(34, 31, 31);
    width: 60%;
    max-width: 300px;
    transition-delay: 0.2s;
}

.wrap-white {
    background-color: #fff;
    width: 80%;
    /* padding: 40px; */
    position: relative;
}

.side-nav {
    list-style-type: none;
    text-transform: uppercase;
    text-decoration: none;
    padding: 20px;
}

.side-nav li{
    margin: 20px 0;
}


#btn1, #btn2, #btn3,#btn4, #btn2prev, #btn3prev {
    /* hidden */
    visibility: hidden;
    position: absolute;
    /* hidden */
}

.arrow-down {
    height: 40px;
    width: 40px;
    background-color: red;
    transform: rotate(45deg);
    
}

.arrow-up {
    height: 40px;
    width: 40px;
    background-color: yellow;
    transform: rotate(45deg);
    position: relative;
    

    
}

.arrow-up-firstPage {
    height: 40px;
    width: 40px;
    background-color: green;
    transform: rotate(45deg);
}

#div1 {
    background-color: #16a596;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    height: 100vh;
}

#div1 h1 {
    margin: 1rem;
    color: #fff;
    text-shadow:  1px 1px 5px rgb(0, 0, 0, 1);
}

#div1 i {
    text-shadow:  1px 1px 5px rgb(0, 0, 0, 1);
    font-size: 1.8rem;
    color: #fff;
}

#div1 p {
    color: #fff;
    text-shadow: 1px 1px 5px rgb(0, 0, 0, 1);
    line-height: 2;
    letter-spacing: 0.6px;
    font-size: 1.5rem;
}

.img-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

.img-div div {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.img-div div img {
    height: 200px;
    border-radius: 50%;
}


#div2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    background: url('img/computer.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#div2 #background {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: rgba(3, 3, 3, 0.7);
    height: 100vh;
    width: 100vw;
    padding-left: 10%;
    padding-right: 10%;
}

#div2 div img {
    height: 200px;
    width: 200px;
    /* margin-top: 10%; */
}

#div2 div h1 {
    color: white;
    margin: 30px auto 30px;
}

#div2 div p {
    color: #fff;
    line-height: 2;
    letter-spacing: 0.5px;
    font-size: 1.2rem;
}

#div3:after{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #16a596;
}

#skill_title {
    width: 100%;
    padding: 10px;
    text-align: center;
}

#skill_title h1, .skills h3, .skills p {
    color: #fff;
    text-shadow: 2px 2px 2px rgba(26, 25, 25, 0.5);
}


.skills-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.skills {
    background-color: rgba(32, 31, 31);
    border: 1px solid black;
    margin: 5px 5px 20px 0px;
    padding: 10px;
    width: 400px;
    height: 200px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    transform: translateX(400%);
    transition: transform 0.4s ease;
    z-index: -1;
}

.skills:nth-of-type(even) {
    transform: translateX(-400%);
}

.skills.show {
    transform: translateX(0);
}

.skills img {
    height: 50%;

    /* resize cái ảnh sẽ không bị nén lại | cover --> tự fix hình ảnh lại */
    object-fit: cover;
}

#div4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    background: url('img/computer.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#div4 h1, #div4 p {
    color: #fff;
    text-shadow: 2px 2px 2px rgba(3, 3, 3, 0.7);
    margin: 15px;
}

#div4 p {
    font-size: 1.5rem;
}

.overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
}

form {
    padding: 10px;

}

form input, form textarea, button {
    width: 100%;
    padding: 10px;
    font-size: 1.2rem;
    margin-bottom: 5px;
}

form input:focus {
    outline: none;
}

form textarea {
    font-family: inherit;
    font-size: 1.2rem;
}

form textarea:focus {
    outline: none;
}

form button {
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.2s ease-in;

}

form button:hover {
    background-color: rgb(58, 57, 57);
    color: #fff;
}

/* Responsive */
@media(max-width: 691px) {
    .main-nav {
        display: none;
    }

    #div3 {
        height: 140vh;
    }

    .skills {
        width: 70vw;
    }

    .skilss-wrap {
        overflow: auto;
    }

    #div1 h1 {
        font-size: 1.3rem;
    }

    #div2 div p {
        font-size: 1.2rem;
        line-height: 1.5;
    }
}

@media(max-width: 450px) {

}